<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Blog</title>
</head>
<body>

  <a href="{% url 'home' %}"><strong>Portada</strong></a>

    <!-- LOGIN -->
    {% if user.is_authenticated %}
      <span>Bienvenido {{user.username}}</span>
      <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% else %}
      <a href="{% url 'login' %}">Iniciar sesión</a>
    {% endif %}
    <!-- CIERRA CONTENIDO LOGIN -->


    <a href="{% url 'posts:create_post' %}">Crear post</a>  <!-- de aqui pasa a la app "post" y levanta "create_post"-->

     <a href="{% url 'login' %}">Iniciar sesión</a>


  <a href="{% url 'register' %}"><strong>Registrarse</strong></a>


  {% block content %}

  <div>
	</br>
    <a href="{% url 'posts:cultura' %}">Cultura</a>
    </br>
    <a href="{% url 'posts:tecnologia' %}">Tecnologia</a>
    </br>
    <a href="{% url 'posts:gaming' %}">Gaming</a>
    </br>
    <a href="{% url 'posts:peliculas' %}">Peliculas</a>
    </br>
    <a href="{% url 'posts:series' %}">Series</a>
    </br>
    <a href="{% url 'posts:anime' %}">Anime</a>
    </br>
    <a href="{% url 'posts:musica' %}">Musica</a>
    </br>
    </br>
    </br>
    </div>
  <!-- CONTENIDO DE LOS POSTS -->
    <div class="container">
    <div class="row"> 
    {% for object in object_list %}
      <div class="col-4">
        
        <div class="card" style="width: 18rem;">
          <img src="media_root/{{ object.miniatura }}" class="card-img-top" alt="...">

          <div class="card-body">
            <a href="{{ object.get_absolute_url }}">
              <h5 class="card-title">{{ object.titulo }}</h5>
            </a>
            <p class="card-text">{{ object.contenido|truncatechars:50 }}</p>
            <hr/>

            <p class="card-text">
              Posted {{ object.fecha_publicacion}}
            </p>
          </div>
        </div>
      </div> 
    {% endfor %}
    </div>  
  </div>
  <!-- FINALIZA CONTENIDO DE LOS POSTS -->

  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>